[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/imgui-cmake/imgui"]
	path = external/imgui-cmake/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
